<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="stud" class="Basic.Student">

    <property name="id" value="101"/> 
    <property name="sName" value="vaibhav"/>
    <property name="address" ref="adr"/>

</bean>

<bean name="adr" class="Basic.Address">

    <property name="houseNo" value="112"/>
    <property name="street" value="MateSquare"/>
    <property name="city" value="Nagpur"/>
    <property name="pin" value="78787"/>

</bean>

</beans>
