/NetBeans/Pattrens/nbproject/private/
/NetBeans/Pattrens/build/
/NetBeans/mandir/nbproject/private/
/NetBeans/mandir/build/
/NetBeans/Constructor/nbproject/private/
/NetBeans/Constructor/build/
/NetBeans/Inherit/nbproject/private/
/NetBeans/Inherit/build/
/NetBeans/relationship/nbproject/private/
/NetBeans/relationship/build/
