/NetBeans/Pattrens/nbproject/private/
/NetBeans/Pattrens/build/
/NetBeans/mandir/nbproject/private/
/NetBeans/mandir/build/
/NetBeans/Constructor/nbproject/private/
/NetBeans/Constructor/build/
/NetBeans/Inherit/nbproject/private/
/NetBeans/Inherit/build/
/NetBeans/relationship/nbproject/private/
/NetBeans/relationship/build/
/NetBeans/AbstractionProperties/nbproject/private/
/NetBeans/AbstractionProperties/build/
/NetBeans/Interface/nbproject/private/
/NetBeans/Interfaces/nbproject/private/
/NetBeans/Interfaces/build/
/NetBeans/testInterface/nbproject/private/
/NetBeans/testInterface/build/
/NetBeans/InnerClass/nbproject/private/
/NetBeans/InnerClass/build/
/NetBeans/lamdaExp/nbproject/private/
/NetBeans/lamdaExp/build/
/NetBeans/LabTask/nbproject/private/
/NetBeans/LabTask/build/
/NetBeans/objectInsideMethod/nbproject/private/
/NetBeans/objectInsideMethod/build/
