<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>

    <h2>User Details</h2>

    <!-- Display user details -->
    <p th:text="${'User ID: ' + user.id}"></p>
    <p th:text="${'Username: ' + user.username}"></p>
    <p th:text="${'Email: ' + user.email}"></p>

    <!-- Add link to go back to the home page -->
    <p><a th:href="@{/home}">Back to Home</a></p>

</body>
</html>
