<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>tryServletLive</servlet-name>
        <servlet-class>tryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testContentLive</servlet-name>
        <servlet-class>concept.testContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoMultiLive</servlet-name>
        <servlet-class>newInfoFetch.infoMulti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valueMultiLive</servlet-name>
        <servlet-class>newInfoFetch.valueMulti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Department</servlet-name>
        <servlet-class>electricity.Department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalBill</servlet-name>
        <servlet-class>electricity.FinalBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tryServletLive</servlet-name>
        <url-pattern>/Live</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testContentLive</servlet-name>
        <url-pattern>/Liveee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoMultiLive</servlet-name>
        <url-pattern>/infoMultiLive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valueMultiLive</servlet-name>
        <url-pattern>/valueMultiLive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Department</servlet-name>
        <url-pattern>/Department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalBill</servlet-name>
        <url-pattern>/FinalBill</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>multiInfo.html</welcome-file>
    </welcome-file-list>
</web-app>
