<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>Department</servlet-name>
        <servlet-class>MSEB_electricBoard.Department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalBill</servlet-name>
        <servlet-class>MSEB_electricBoard.finalBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ser1</servlet-name>
        <servlet-class>ConfigContext.ser1</servlet-class>
        <init-param>
            <param-name>city</param-name>
            <param-value>Nagpur</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ser2</servlet-name>
        <servlet-class>ConfigContext.ser2</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Shashank</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Betul</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>loginS</servlet-name>
        <servlet-class>shopping.loginS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutS</servlet-name>
        <servlet-class>shopping.logoutS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>shopping.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ecomShop</servlet-name>
        <servlet-class>shopping.ecomShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>routeServlet</servlet-name>
        <servlet-class>busApp.routeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busLogin</servlet-name>
        <servlet-class>busApp.busLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busSeat</servlet-name>
        <servlet-class>busApp.busSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busBooking</servlet-name>
        <servlet-class>busApp.busBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busTicketServlet</servlet-name>
        <servlet-class>busApp.busTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Department</servlet-name>
        <url-pattern>/Department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalBill</servlet-name>
        <url-pattern>/finalBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ser1</servlet-name>
        <url-pattern>/ser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ser2</servlet-name>
        <url-pattern>/ser2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginS</servlet-name>
        <url-pattern>/loginS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutS</servlet-name>
        <url-pattern>/logoutS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ecomShop</servlet-name>
        <url-pattern>/ecomShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>routeServlet</servlet-name>
        <url-pattern>/routeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busLogin</servlet-name>
        <url-pattern>/busLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busSeat</servlet-name>
        <url-pattern>/busSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busBooking</servlet-name>
        <url-pattern>/busBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busTicketServlet</servlet-name>
        <url-pattern>/busTicketServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>busLogin.html</welcome-file>
    </welcome-file-list>
</web-app>
